*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body{
    display:flex;
    flex-direction:column;
    align-items: center;
}
  h1{
    color: rgb(15, 6, 6);
    font-size: 24px;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    color: gray;
}
.anacontent{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.banner{
  
    font-size: 30px;
    text-align: center;
    width: 100%;
    background-color:rgba(105, 35, 35, 0.192);

}
.orta{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.solcontent{
    display: flex;
    flex: 75%;
    height:auto;
    background-color: blueviolet;
}
.solcontentkart{
    flex-direction: row;
    position: relative;
    margin: 20px;
    width: 50%;
    background-color:rgb(255, 255, 255);
}


.sagcontent{
    flex: 25%;
    height:auto;
    background-color: rgb(105, 105, 134);
}  
.sagcontentkart{
    position: relative;
    margin: 20px;

}  
